@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: inline-block;
}

.healthBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 20px;
}

.healthPositionWrapper {
  position: relative;
  height: 30px;
  width: 100%;
  border: 4px double white;
  border-radius: 6px;
}

.playerHealthBar {
  display: flex;
  justify-content: flex-end;
}

.gradReverse {
  background-image: linear-gradient(90deg, #ffc719 0%, #bf033b 74%) !important;
}

.healthBar {
  background-image: linear-gradient(90deg, #bf033b 0%, #ffc719 74%);
  width: 100%;
  z-index: 12;
  height: 100%;
  top: 0;
  position: absolute;
}

.healthBarBg {
  background-color: transparent;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
}

.timer {
  width: 60px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px double white;
  border-radius: 6px;
  font-family: "Press Start 2P";
  color: white;
  margin: 0 4px;
  font-size: 1.2em;
}

.gameEnd,
.gameStart {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Press Start 2P";
  color: white;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.playerNames {
  font-family: "Kaushan Script", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 60px;
  padding: 0px 30px;
  font-size: 2em;
  color: white;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.button {
  display: flex;
  margin: 5px;
  font-weight: bold;
  padding: 0.5em;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em grey;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
}

.start {
  font-size: 1em;
}

.restart {
  font-size: 0.6em;
  margin-top: 1em;
}

.button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.gameTitle {
  font-family: "Press Start 2P";
  position: absolute;
  top: 1em;
}

.controlsContainer {
  position: absolute;
  bottom: 2em;
  display: flex;
  font-size: 16px !important;
  justify-content: space-between;
  width: 80%;
}

.control {
  margin-top: 1em;
}
